*{
    color:#4b4747;
}

.main_div{
    width: 1250px;
    height: 1250px;
    border: 3px;
   overflow: auto;
   display: flex;
   background-color: #e7e9ef;
   justify-content: center;
    
}
.text_div{
    
   margin-top: 180px;
   padding-left: 50px;
     
     
}
.h1{
    
        margin-bottom: 50px;
}
.p{
  flex-wrap: wrap;
  width: 330px;
}
.label{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    width:350px;
    height: 25px;
    background-color: #e7e9ef;
    border: 1px solid;
   
}
.label_message{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 350px;
    height: 100px;
    background-color: #e7e9ef;
    border: 1px solid;
}
.submit{
    margin-left: 256px;
    width: 100px;
    height: 30px;
    background-color:rgb(17, 17, 63);
    color: white;
}
.p1{
    margin-top: 60px;
}.subscribe{
    margin-left: 20px;
    width: 110px;
    height: 30px;
    background-color: rgb(17, 17, 63);
    color: white;
    display: inline;
    

}
.email{
 
    display: flex;
    
}
.text{
    background-color: #e7e9ef;
    border: 1px solid;
    height: 25px;
    width: 220px;
}